parameters:
    ignoreErrors:
        # 忽略 PHPDoc 标签错误
        - '#PHPDoc tag @var for variable \$this contains unknown class Tourze\\WorkermanSocks4Proxy\\Tests#'
        
        # 忽略测试中的方法调用
        - '#Call to method Symfony\\Bundle\\FrameworkBundle\\Test\\WebTestCase::createClient\(\) with array\{environment: ''test''\} will always evaluate to true#'
        
        # 忽略 Bundle 基类
        - '#Class Tourze\\WorkermanSocks4Proxy\\WorkermanSocks4ProxyBundle extends unknown class Symfony\\Component\\HttpKernel\\Bundle\\Bundle#'
        
        # 忽略配置定义器
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
        
        # 忽略 SOCKS4 协议包中的协议类名 - 这是标准的网络协议命名
        -
            message: '#类名 "SOCKS4" 不符合帕斯卡命名法.*#'
            paths:
                - src/Protocol/SOCKS4.php